/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    height: 100%;
}

/* Dashboard/Sidebard */

.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #60a5fa;
    grid-area: 1 / 1 / 3 / 1;
}

.dashboard > ul {
    list-style: none;
    font-size: 24px;
    margin: 1rem;
    color: #fff;
}

.dashboard li:first-child {
    margin-bottom: 3rem;
}

.dashboard > ul > li:nth-child(7) {
    margin-bottom: 3rem;
}

.dashboard > ul .first-img {
    margin: 0 1.6rem;
}

.dashboard li {
    margin: 1rem 0;
    vertical-align: top;
}

.dashboard > ul > li:hover {
    color: #e2e8f0;
    transform: scale(0.99);
    cursor: pointer;
}

.dashboard img {
    margin: 0 2rem;
    vertical-align: middle;
    padding-bottom: 4px;
}

/* Header */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
    height: 100%;
}

.header-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.header-top input {
    height: 30px;
    width: 80%;
    border: none;
    border-radius: 10px;
    background-color: #d6e0ece3;
    margin-left: 1rem;
}

.header-top img {
    height: 24px;
    width: 24px;
}

.header-top > .search-cluster {
    width: 70%;
    margin: 1.5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top-right {
    margin: 1rem 5rem 1.5rem 1.5rem;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-top-right > span {
    font-weight: 800;
    letter-spacing: 0.3ch;
}

.header-top .avatar {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background: #777;
    margin: 0 2rem;
}

.header-bottom-left > .avatar {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background: #777;
}

.header-bottom {
    display: flex;
    justify-content: space-evenly;
}

.header-bottom-left {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin-left: 4rem;
}

.header-bottom > .buttons {
    display: flex;
    width: 30%;
}

.header-bottom-left > .greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
}

.header-bottom-left > .greeting > h2 {
    margin-top: 0.1rem;
}

.header-bottom-left > .greeting > span {
    font-weight: bold;
}

.buttons > button {
    height: 40px;
    border-radius: 15px;
    margin: 1rem 1rem;
    background-color: #60a5fa;
    color: #fff;
    font-size: 18px;
    padding: 0 1.5rem;
    border: none;
    font-weight: bold;
}

.buttons {
    margin-right: 4rem;
    margin-top: 1rem;
}

/*  MAIN CONTENT */

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #d6e0ece3;
    max-height: 100%;
}

.card-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 1rem;
    height: 100%;
}

.card {
    border-radius: 10px;
    height: 235px;
    background-color: #fff;
    border-right: 6px solid #60a5fa;
}

.card > h3 {
    margin: 2rem 0 0.5rem 1rem;
}

.card > p {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #333;
    margin-bottom: 3rem;
}

.card > img {
    margin: 1rem;
    margin-top: 0;
}

.card:hover {
    cursor: pointer;
    transform: scale(0.98);
}

/* RIGHT SIDEBAR */

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 1rem;
}

.trending {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    height: 45%;
    border-right: 6px solid #60a5fa;
}

.trending-card {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.trending h2 {
    text-align: center;
}

.trending span {
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
}

.trending p {
    font-size: 14px;
}

.trending img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.announcements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 10px;
    height: 45%;
    border-right: 6px solid #60a5fa;
}

.announcements > h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.announcements .card-item {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #333;
}

.announcements .card-item > h4 {
    margin-bottom: 0.3rem;
}

.announcements .card-item:last-child {
    border: none;
    padding: 0;
    margin-bottom: 0;
}